h1{
  font-size: 80px;
  text-align: center;
  margin-top: 500px;
  font-family: Fredoka One;
  color : #1B4332;

}

body{
  height: 100%;
  width: 100%;
  background: url("source/background.png") ;
  background-repeat: no-repeat;
  background-size: cover;
}

.btn-item{
  list-style-type: none;
  display: inline-block;
  padding : 2rem 10rem;
  background-color: #1B4332;
  border-radius: 30px;
  margin: 3rem 10rem;

}

.btn-item a{
  text-decoration: none;
  color: white;
  font-size: 35px;
}

.btn-menu{
  width: 100%;
  margin: auto;
  text-align: center;
  list-style-type: none;
  padding-left: 0px;
  display: block;
  margin-bottom: 0;  
}

