h1{
  font-size: 80px;
  text-align: center;
  margin-top: 500px;
  font-family: Fredoka One;
  color : #1B4332;

}

body{
  height: 100%;
  width: 100%;
  background: url("source/background.png") ;
  background-repeat: no-repeat;
  background-size: cover;
}

.btn-menu{
  width: 100%;
  margin: auto;
  text-align: center;
  list-style-type: none;
  padding-left: 0px;
  display: block;
  margin-bottom: 0;  
}

.fleche{
  width: 3.5rem;
  height: 2.8rem;
  margin-left: auto;
  margin-right: auto;    
  display: flex; 
  transition: all 0.2s ease-in-out;
}

.fleche:hover{
  width: 5rem;
  height: 4.3rem;
  transition: all 0.3s ease-in-out;
}

.fleche_container{
  width: 100%;
  display: flex;
  position: absolute;
  bottom :10px;
}

/*.fleche:hover{
  filter: invert(100%); 
} */

.fleche.scroll{
  transform: rotate(180deg);
  transition: all 0.3s ease-in-out;
  /*filter:invert(100%); */
}

#news{
  width: 100%;

}

.banderol{
  background-color: #52B788;
  width: 100%;
  text-align: center;
  vertical-align: middle;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  font-family: Open Sans;
  font-size: 28px;
  color: white;
}

.banderol_text{
  font-size: 28px;
  color: white;
  margin: auto;
  font-family: Open Sans;
  vertical-align: middle;
  margin-top: 0px;
}

h2{
  text-align: center;
  color: black;
  font-family: Fredoka One;
  font-size: 48px;
  margin: 50px;
}

.news_menu{
  margin: 0 15rem;
}

.news_container{
  height: 30rem;
  padding: 2rem;
  background-color: #B7E4C7;
  margin-bottom: 50px;
  display: flex;
  flex-direction:row;
  border-radius: 20px;
}

h3{
  color: black;
  font-family: Fredoka One;
  font-size: 40px;
  margin-bottom: 5px;
  text-decoration: underline;
  font-weight: bold;
}

.news_contenu{
  color: black;
  font-family: Open Sans;
  font-size: 25px;
}

.news_contenu p {
  height: 70%;
}

.news_image{
  height: 20rem;
  width: auto;
  border-radius: 20px;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 20px;
}

.btnDiv{
  justify-content: center;
  align-items: center;
  min-height: 10%;
  display: inline-block;
}

.moveBtn{
  font-size: 35px;
  position : relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1B4332;
  margin: 3rem 10rem;
  transition: 1s;
  overflow: hidden;
  text-decoration: none;
  border-radius: 30px;
  color: white;
  padding : 2rem 10rem;
  font-family: Open Sans;
}

.moveBtn:hover{
  box-shadow: 0 0 0px var(--clr);
}

.moveBtn::before{
  content :'';
  position: absolute;
  width: 40px;
  height: 500%;
  background: var(--clr);
  transition: 1s;
  animation: animate 10s linear infinite;
}


@keyframes animate{
  0%
  {
    transform : rotate(0deg);
  }
  
  100%
  {
    transform : rotate(360deg);
  }
  
}

.moveBtn::after{
  content: '';
  position: absolute;
  inset:4px;
  background: #1B4332;
  transition: 0.5s;
  border-radius: 30px;
}

.moveBtn:hover::after
{
  background: var(--clr);
}

.moveBtn span{
  position: relative;
  z-index:1;
  font-size: 35px;
  color: white;
  transition: 0.5s;
}

.moveBtn:hover span{
  opacity: 1;
  color: black;
}

.voir_plus{
  width: 100%;
  display: flex;
}

.voirBtn{
  display: flex;
  text-decoration: none;
  padding: 1rem 4rem;
  background-color: #1B4332;
  border-radius: 30px;
  margin : 0 0 auto auto;
  color: white;
}