h1{
    font-size: 80px;
    text-align: center;
    margin-top: 150px;
    font-family: Fredoka One;
}

.TeteTab{
  border: 5px solid black;
  width: 350px;
  height: 150px;
  text-align: center;
  font-size: 40px;
}

table{
  border-collapse: collapse; /* Colle les bordures du tableau*/
  margin: auto;
  margin-top: 100px;
}

td{
  border: 5px solid black;
  width: 350px;
  height: 100px;
  text-align: center;
  font-size: 20px;
}
