h1{
    font-size: 80px;
    text-align: center;
    margin-top: 150px;
    font-family: Open Sans;
}

#soustitre #gauche{
  display: inline-block;
  float: left;
  background-color: Black;
  width: 3%;
  height: 10px;
  margin-left: 25%;
  margin-top: 1.2%;
  border-radius: 50px;
}

#soustitre #droite{
  display: inline-block;
  float: right;
  background-color: Black;
  margin-right: 25%;
  margin-top: 1.2%;
  width: 3%;
  height: 10px;
  border-radius: 50px;
}

#soustitre h2{
  display: inline-block;
  text-align: center;
  font-size: 48px;
  width: 44%;
}

.fond_div{
  background-color: white;
  padding-left: 1.3%;
  padding-right: 1.3%;
  margin-left: 10%;
  margin-right: 10%;
}

.fond_div h3{
  font-size: 80px;
  text-align: center;
}

.fond_div p{
  font-size: 35px;
}

/*Gestion du footer*/
body{
  display: flex;
  flex-direction: column;
}

footer{
  flex: none;
  margin-top: auto;
}
/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
  display: none;
}

button:hover {
  opacity: 0.8;
}

#prevBtn {
  background-color: #bbbbbb;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  background-color: #40916C;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: black;
}