*, ::before, ::after{
  box-sizing:border-box;
  margin:0;
  padding:0;
}

html, body {
  font-family: 'Source Sans Pro';
  font-size:14px;
  width : 100%;
  height:100vh;
  background-color: #F4F4F4;
}

main {
  padding: 1rem 4rem;
  margin-left: 5rem;
  text-align: justify;
}

li,ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

#index{
    width: 100%;
    height: 100%;
}

.navbar {
    position: fixed;
    background-color: #40916C;
    margin-top: 0;
    width: 100%;
    z-index: 10;
}

.navbar-menu{
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right:0;
    float: right;
}

.navbar .navbar-menu a li{
    padding : 1.5rem 5rem;
    margin-right:auto;
}

.footer .footer-menu a li{
    padding : 1.5rem 5rem;
    margin-right:auto;
}

.navbar .navbar-menu a li:hover{
    background-color:#74C69D;
    transition: all 0.3s ease-in-out;  
}

.footer .footer-menu a li:hover{
    background-color:#74C69D;
    transition: all 0.3s ease-in-out;
}

.navbar-main-title{
    font-size: 1rem;
}

.navbar-link{
    text-decoration: none;
    font-size: 25px;
    color:white;

}

.logo-image{
    height: 4rem;
    width: auto;
    display: flex;
    position: fixed;
    margin-top: 5px;
    margin-left:15px; 
    z-index:11;
    background:none;
}


.logo-title{
    color: white;
    font-size: 35px;
    margin-top: 15px;
    margin-left: 45px;
    display: flex;
    position: fixed;
    z-index:12;
    font-family:Fredoka One;

}

.navbar-all{
    display: flex;
}
/*
Description des pages
 */
.containerDescriptionPage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
}

.containerDescriptionPage .descriptionPage{
    text-align: justify;
    margin: 10px;
}

.containerDescriptionPage h2::before,.containerDescriptionPage h2::after{
    display: inline-block;
    content: "";
    border-top: .3rem solid #40916C;
    width: 4rem;
    margin: 0 1rem;
    vertical-align: middle;
}

/*
Formulaires
 */
input, select, textarea{
    width: 100%;
    background-color: #D8F3DC;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
/*Formulaire général*/
form{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    width: 50%;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.5);
}

form .formTitle{
    text-align: center;
}

form .rowInput{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    flex: 0 0 100%;
    gap: 10px;
}

form .rowInput div{
    flex: 1;
}

/*Style général des boutons de formuaires*/
form button{
    background-color: #1B4332;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 10px;
}

/*Formulaire de contact*/
#bottomForm{
    justify-content: space-between;
}

#bottomForm div{
    flex:  1;
}

/*Formulaire de réservation*/
/*Horaires*/
.gridHoraires
{
    display: grid;
    justify-content: center;
    margin: 10px;
    grid-gap: 0.5rem;
    grid-template-columns: repeat(5, auto);
}

.gridHoraires .horaire{
    font-size: 1.3rem;
    font-weight: bold;
    background-color: rgba(230, 230, 230, 0.8);
}

.footer {
    position: absolute;
    background-color: #40916C;
    margin-bottom: 0;
    width: 100%;
}

.footer-menu{
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    float: right;
    bottom: 0;

}

.footer-link{
    text-decoration: none;
    font-size: 20px;
    color:white;

}

.footer-all{
    display: flex;
    width: 100%;
    position: absolute;
}
