*, ::before, ::after{
  box-sizing:border-box;
  margin:0;
  padding:0;
}

html, body {
  font-family: 'Source Sans Pro';
  font-size:14px;
  width : 100%;
  height:100vh;
  background-color: #F4F4F4;
}

main {
  padding: 1rem 4rem;
  margin-top: 50px;
  text-align: justify;
}

li,ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

#index{
    width: 100%;
    height: 100%;
}

.navbar-all {
    display: flex;
    z-index: 9999;
    justify-content: space-between;
    position: fixed;
    width : 100%;
    top: 0;
    align-items: center;
    padding: 10px 3%;
    background-color: #40916C;
}

.navLinks li{
    display: inline-block;
    padding: 0px 10px;
}

.navbar-link{
    text-decoration: none;
    font-size: 25px;
    color:white;
}

footer li:hover:hover, .navLinks li:hover{
    background-color:#74C69D;
    transition: all 0.3s ease-in-out;
}

.logoContainer a{
    text-decoration: none;
}

header #logoNav{
    cursor: pointer;
}

.logoTitle{
    color: white;
    font-size: 35px;
    font-family:Fredoka One;
    text-decoration: none;
}

/*
Description des pages
 */
.containerDescriptionPage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
}

.containerDescriptionPage .descriptionPage{
    text-align: justify;
    margin: 10px;
}

.containerDescriptionPage h2::before,.containerDescriptionPage h2::after{
    display: inline-block;
    content: "";
    border-top: .3rem solid #40916C;
    width: 4rem;
    margin: 0 1rem;
    vertical-align: middle;
}

/*
Formulaires
 */
input, select, textarea{
    width: 100%;
    background-color: #D8F3DC;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
/*Formulaire général*/
form{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    width: 50%;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.5);
}

form .formTitle{
    text-align: center;
}

form .rowInput{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    flex: 0 0 100%;
    gap: 10px;
}

form .rowInput div{
    flex: 1;
}

/*Style général des boutons de formuaires*/
form button{
    background-color: #1B4332;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 10px;
}

/*Formulaire de contact*/
#bottomForm{
    justify-content: space-between;
}

#bottomForm div{
    flex:  1;
}

/*Formulaire de réservation*/
/*Horaires*/
.gridHoraires
{
    display: grid;
    justify-content: center;
    margin: 10px;
    grid-gap: 0.5rem;
    grid-template-columns: repeat(5, auto);
}

.gridHoraires .horaire{
    font-size: 1.3rem;
    font-weight: bold;
    background-color: rgba(230, 230, 230, 0.8);
}

/*FAQ*/
/*Flexbox contenu horizontal*/
.containerQuestions{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    width: 100%;
    max-width: 70%;
    margin: 10px auto;
}

.containerQuestions .question{
    background-color: #40916C;
    margin: 10px;
    padding: 10px;
}

.containerQuestions p{
    font-size: 1.2rem;
}

footer{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-end;
    align-items: stretch;
    background-color: #40916C;
    padding: 10px 3%;
}

footer li{
    display: inline-block;
    padding: 0px 10px;
}

.footer-link{
    text-decoration: none;
    font-size: 25px;
    color:white;
}